<h3>{{ _("Instance stats") }}</h3>

<!-- ko if: statsFetched() -->
<h4>{{ _("Total") }}</h4>

<dl class="dl-horizontal">
    <dt>{{ _("Collecting since") }}</dt>
    <dd data-bind="text: collectingSince">
    </dd>

    <dt>{{ _("Collection started on") }}</dt>
    <dd data-bind="text: collectionVersion">
    </dd>

    <dt>{{ _("Versions seen") }}</dt>
    <dd data-bind="text: stats.seen_versions">
    </dd>

    <dt>{{ _("Number of server starts") }}</dt>
    <dd data-bind="text: stats.server_starts">
    </dd>

    <dt>{{ _("Prints") }}</dt>
    <dd data-bind="text: prints">
    </dd>

    <dt data-bind="visible: stats.print_duration_total">{{ _("Total print duration") }}</dt>
    <dd data-bind="visible: stats.print_duration_total, text: duration">
    </dd>

    <dt data-bind="visible: stats.longest_print_duration">{{ _("Longest print") }}</dt>
    <dd data-bind="visible: stats.longest_print_duration, text: longestPrint">
    </dd>

    <dt data-bind="visible: stats.files_uploaded">{{ _("Files uploaded") }}</dt>
    <dd data-bind="visible: stats.files_uploaded, text: stats.files_uploaded">
    </dd>

    <dt data-bind="visible: stats.plugins_installed">{{ _("Plugins installed") }}</dt>
    <dd data-bind="visible: stats.plugins_installed, text: stats.plugins_installed">
    </dd>
</dl>
<!-- /ko -->

<!-- ko if: yearStatsFetched() -->
<h4>{{ _("This year so far") }}</h4>

<dl class="dl-horizontal">
    <dt>{{ _("Versions seen") }}</dt>
    <dd data-bind="text: yearStats.seen_versions">
    </dd>

    <dt>{{ _("Number of server starts") }}</dt>
    <dd data-bind="text: yearStats.server_starts">
    </dd>

    <dt>{{ _("Prints") }}</dt>
    <dd data-bind="text: printsYear">
    </dd>

    <dt data-bind="visible: yearStats.print_duration_total">{{ _("Total print duration") }}</dt>
    <dd data-bind="visible: yearStats.print_duration_total, text: durationYear">
    </dd>

    <dt data-bind="visible: yearStats.longest_print_duration">{{ _("Longest print") }}</dt>
    <dd data-bind="visible: yearStats.longest_print_duration, text: longestPrintYear">
    </dd>

    <dt data-bind="visible: yearStats.files_uploaded">{{ _("Files uploaded") }}</dt>
    <dd data-bind="visible: yearStats.files_uploaded, text: yearStats.files_uploaded">
    </dd>

    <dt data-bind="visible: yearStats.plugins_installed">{{ _("Plugins installed") }}</dt>
    <dd data-bind="visible: yearStats.plugins_installed, text: yearStats.plugins_installed">
    </dd>
</dl>
<!-- /ko -->
